@media (max-width:1030px){
    .container-productos{
        padding-left: 4.6875rem;
        padding-right: 1.875rem;
    }

    .ver-mas{
        padding-bottom: 1.875rem;
        padding-left: 710px;
    }
}