@media (max-width:1570px){
    .flex{
        display: flex;
        justify-content: space-between;
        padding-left: 120px;
        padding-right: 120px;
    }
    .titulo{
        padding-right: 250px;
    }
}