@media (max-width:1665px){
    .padding-left{
        padding-left: 3.125rem;
    }
    .padding-right{
        padding-right: 3.125rem;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        padding-left: 10.9375rem;
        padding-right: 10.9375rem;
    }
}