@media (max-width:1730px){
    .padding-left{
        padding-left: 6.25rem;
    }
    .nuestras-redes div h2{
        font-size: 2rem;
        font-weight: 400;
        font-family: "Poppins", system-ui;
        margin-left: 7.8125rem;
    }
    .titulo{
        padding-right: 300px;
    }
}