@media (max-width:327px){
    .titulo a h1{
        color: black;
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    .titulo a h2{
        color: black;
        font-size: 1rem;
        font-weight: 400;
    }
}