@media (max-width:349px){
    .cuotas-sin-interes a h2{
        font-size: 1rem;
    }

    .titulo a h1{
        color: black;
        font-size: 1.375rem;
        font-weight: 500;
    }
    
    .titulo a h2{
        color: black;
        font-size: 1rem;
        font-weight: 400;
    }

    .titulo-2 h2{
        font-size: 1.25rem;
    }

    .titulo-3 h2{
        font-size: 1.25rem;
    }
}