@media (max-width:406px){
    .titulo a h1{
        color: black;
        font-size: 1.5625rem;
        font-weight: 500;
    }
    
    .titulo a h2{
        color: black;
        font-size: 1rem;
        font-weight: 400;
    }

    .menu-hamburguesa{
        width: 2.1875rem;
        height: 2.1875rem;
    }

    .container-productos-2{
        padding-right: 0px;
    }

    .redes div a img{
        width: 3.875rem;
        height: 2.5rem;
    }
}