@media (max-width:570px){
    .marcas-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5;
        gap: 6.25rem;
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }
}