@media (max-width:950px){
    .letra-marcas h3{
        color: black;
        font-size: 1.25rem;
        font-weight: 500;
        font-family: "Poppins", system-ui;
    }
    
    .marcas li a{
        color: #353535;
        font-size: 1rem;
        font-family: "Poppins", system-ui;
    }
}