@media (max-width:970px){
    
    .nuestras-redes div h2{
        font-size: 2rem;
        font-weight: 400;
        font-family: "Poppins", system-ui;
        margin-left: 4.375rem;
    }

    .facebook-gap{
        margin-left: 1.875rem;
    }
}